In [154]:
import httplib
import urllib2
import random
import re
import requests
from httplib import IncompleteRead
import json
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [155]:
url="http://missingmigrants.iom.int/latest-global-figures"

## Main function to extract table

In [156]:
def extract_table(url):
    req = urllib2.Request(url.decode('utf-8'), headers={'User-Agent' : "Magic Browser"}) 
    page = urllib2.urlopen( req )
    mypage=page.read()
    if len(mypage)==0:
        print "the above page may not exist"
    else:
        soup = BeautifulSoup(mypage)
        table = soup.find('table')
        #extract columns:
        cols =  table.findAll('th')
        cols= [ [ th.findChildren(text=True) for th in th.findAll("span")] for th in cols]
        #extract rows in one go:
        rows = table.findAll('tr')
        rows = [ [td.findChildren(text=True) for td in tr.findAll("td")] for tr in rows]
    return cols, rows
cols, rows = extract_table(url)

### Get rows

In [157]:
#strip data
rows= [[u"".join(d).strip() for d in l] for l in rows]
#join by ","
rows = [u"|".join(d) for d in rows]
X=np.array(rows)
#remove null 
X=X[X!='']
X

array([u'Mediterranean|370|55|324|630|1,133|389|226|53|368|101||||3,649',
       u'Europe|6|4|7|1|2|2|4|2|10|5||||43',
       u'Middle East|23|5|7|13|9|13|-|-|14||||11|95',
       u'North Africa|38|112|57|35|137|47|9|-||||||435',
       u'Horn of Africa|37|21|11|4|4|3|-|-||||||80',
       u'Sub-Saharan Africa|14|-|8|-|7|19|-|3||||||51',
       u'East Asia|-|-|-|-|-|-|3|-||||||3',
       u'Southeast Asia|35|-|-|-|-|-|26|-||||||61',
       u'US-Mexico Border|12|9|19|13|19|45|42|37|30|2|||65|293',
       u'Central America|8|5|14|5|11|4|12|27|7|6||||99',
       u'Caribbean|1|1|9|-|-|1|18|-|20|1||||51',
       u'South America|9|1|-|-|-|-|-|4|3||||7|24',
       u'Total|553|213|456|701|1,322|523|340|126|452|115|||83|4,884'],
      dtype='<U62')

## Get columns and values in pandas dataframe

In [158]:
Z=[]
k=1
for j in cols:
      Z=Z+j
u, ind = np.unique(Z, return_index=True)
u=u[np.argsort(ind)]
u

array([u'January', u'February', u'March', u'April', u'May', u'June',
       u'July', u'August', u'September', u'October', u'November',
       u'December', u'Month not specified', u'Total'],
      dtype='<U19')

In [159]:
values=[]
for j in X:
    values.append(j.split('|')[1:])
df = pd.DataFrame(data=values, index= range(len(values)), columns=u)
df

,January,February,March,April,May,June,July,August,September,October,November,December,Month not specified,Total
0,370,55,324,630,"1,133",389,226,53,368,101,,,,"3,649"
1,6,4,7,1,2,2,4,2,10,5,,,,43
2,23,5,7,13,9,13,-,-,14,,,,11,95
3,38,112,57,35,137,47,9,-,,,,,,435
4,37,21,11,4,4,3,-,-,,,,,,80
5,14,-,8,-,7,19,-,3,,,,,,51
6,-,-,-,-,-,-,3,-,,,,,,3
7,35,-,-,-,-,-,26,-,,,,,,61
8,12,9,19,13,19,45,42,37,30,2,,,65,293
9,8,5,14,5,11,4,12,27,7,6,,,,99
10,1,1,9,-,-,1,18,-,20,1,,,,51
11,9,1,-,-,-,-,-,4,3,,,,7,24
12,553,213,456,701,"1,322",523,340,126,452,115,,,83,"4,884"

### Change index

In [160]:
df.index= [j.split('|')[0] for j in X ]
df

,January,February,March,April,May,June,July,August,September,October,November,December,Month not specified,Total
Mediterranean,370,55,324,630,"1,133",389,226,53,368,101,,,,"3,649"
Europe,6,4,7,1,2,2,4,2,10,5,,,,43
Middle East,23,5,7,13,9,13,-,-,14,,,,11,95
North Africa,38,112,57,35,137,47,9,-,,,,,,435
Horn of Africa,37,21,11,4,4,3,-,-,,,,,,80
Sub-Saharan Africa,14,-,8,-,7,19,-,3,,,,,,51
East Asia,-,-,-,-,-,-,3,-,,,,,,3
Southeast Asia,35,-,-,-,-,-,26,-,,,,,,61
US-Mexico Border,12,9,19,13,19,45,42,37,30,2,,,65,293
Central America,8,5,14,5,11,4,12,27,7,6,,,,99
Caribbean,1,1,9,-,-,1,18,-,20,1,,,,51
South America,9,1,-,-,-,-,-,4,3,,,,7,24
Total,553,213,456,701,"1,322",523,340,126,452,115,,,83,"4,884"